* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    to top left,
    hsl(214, 31.8%, 91.4%),
    hsl(213, 26.8%, 83.9%)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Newsreader", serif;
}

nav {
  top: 0;
  position: sticky;
  background-color: hsl(240, 22%, 14%);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
  z-index: 998;
}

.navMc {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

nav ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
  padding: 0 30px;
}

nav a {
  height: 100%;
  text-decoration: 0;
  color: hsl(214, 31.8%, 91.4%);
  display: flex;
  align-items: center;
}

nav li:hover {
  background-color: hsl(213, 26.8%, 83.9%);
}

nav li:first-child {
  margin-right: auto;
  padding: 0 10px;
}

.menu {
  display: none;
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: hsl(215, 25%, 26.7%);
  box-shadow: -10px 0px 5px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.home {
  position: relative;
  min-height: 100vh;
  background-image: url("img/bgHome.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.judulHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: max-content;
  width: 40%;
  padding: 5rem;
}

.judulHome h2 {
  font-size: 3.2rem;
  color: hsl(231, 89%, 93%);
  font-family: "Charm", cursive;
  font-weight: 600;
  text-shadow: 1px 0px 5px black;
}

.shop {
  position: relative;
  min-height: 100vh;
  background-color: hsl(222, 47.4%, 11.2%);
}

.shop h1 {
  text-align: center;
  color: hsl(231, 89%, 93%);
  font-size: 5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-family: "Fleur De Leah", cursive;
}

label {
  font-size: 3rem;
  color: white;
  padding-left: 2rem;
}

.drink {
  max-width: 95%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  white-space: nowrap;
}

.drink .plate {
  height: 120px;
  flex: 0 0 240px;
  background-color: black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drink img {
  max-height: 120px;
}

.rekomendasi {
  max-width: 95%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  white-space: nowrap;
  margin-bottom: 30px;
}

.rekomendasi .plate {
  height: 120px;
  flex: 0 0 240px;
  background-color: black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plate img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.plate img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.menuLi {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 2rem;
}

.menuLi .plate {
  height: 300px;
  flex: 0 0 300px;
  background-color: black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: hsl(222, 47.4%, 11.2%);
}

.about img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: black solid 1px;
  box-shadow: 2px 5px 20px rgb(0, 0, 0);
}

.about h3 {
  font-size: 3.2rem;
  color: hsl(204, 93.8%, 93.7%);
  font-family: "Charm", cursive;
  font-weight: 600;
  margin-bottom: 0;
}

.about a {
  font-size: 3.2rem;
  color: hsl(204, 93.8%, 93.7%);
  font-family: "Charm", cursive;
  font-weight: 600;
  text-decoration: none;
}

.about p {
  color: hsl(215, 20.2%, 65.1%);
  font-size: 1.5rem;
}

.popout {
  position: fixed;
  display: none;
  flex-direction: row;
  width: 40vw;
  padding: 3rem 1rem;
  background-color: hsl(240, 5.9%, 10%);
  justify-content: space-evenly;
  align-items: center;
  z-index: 1001;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 10px;
  box-shadow: 4px 4px 20px black;
}

.popout svg {
  position: absolute;
  top: 1%;
  right: 1%;
}

.popout svg:hover {
  cursor: pointer;
}

.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.gambarPop {
  height: 150px;
  width: 150px;
  background-color: hsl(215, 16.3%, 46.9%);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gambarPop img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.popout .deskripsi {
  text-align: center;
  justify-content: flex-end;
  align-items: flex-end;
}

.popout h5 {
  padding-top: 1.2rem;
  font-size: 1.5rem;
  color: hsl(214, 94.6%, 92.7%);
  border-bottom: solid 1px hsl(215, 25%, 26.7%);
}

.popout p {
  color: hsl(55, 91.7%, 95.3%);
  font-size: 0.7rem;
  padding: 1rem;
}

.popout .harga {
  padding-top: 1rem;
  font-size: 1rem;
  color: hsl(33, 100%, 96.5%);
}

.popout button {
  font-size: 1rem;
  padding: 5px 15px;
  border: 0;
  border-radius: 5px;
  color: white;
  background-color: hsl(38, 92.1%, 50.2%);
  margin-top: 0.2rem;
}

.popout button:hover {
  background-color: hsl(35, 91.7%, 32.9%);
  cursor: pointer;
}

@media (max-width: 800px) {
  .hideOnM {
    display: none;
  }
  .menu {
    display: block;
  }
  .judulHome {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 0;
  }
  .rekomendasi {
    align-items: flex-start;
    justify-content: flex-start;
    border-top: 1px solid hsl(215, 25%, 26.7%);
    border-bottom: 1px solid hsl(215, 25%, 26.7%);
  }
  .menuLi {
    border-top: 1px solid hsl(215, 25%, 26.7%);
    border-bottom: 1px solid hsl(215, 25%, 26.7%);
  }
  .menu .plate {
    height: 150px;
    width: 150px;
  }
  .popout {
    padding: 2rem 0;
    flex-direction: column;
    align-items: center;
  }
  .gambarPop {
    height: 80px;
    width: 80px;
  }

  label {
    font-size: 1.5rem;
  }

  .about h3 {
    font-size: 2rem;
  }
  .about a {
    font-size: 2rem;
  }
  .popout {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
